@{
    ViewData["Title"] = "CEP";
}



<div class="text-center">
    <form asp-controller="Cep" asp-action="GetCepInfo" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" name="cep" placeholder="Digite o CEP" aria-label="Search"><br/>
        <button class="btn btn-outline-secondary" type="submit">Buscar</button>
    </form>
</div>




